<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>GENERO : <%= movie.genre ? movie.genre.name : 'Sin especificar'%></p>
    <br><!-- en caso de no tener genero muestra sin especificar -->
    <h5>Actores</h5>
    <% if (movie.actores.length) { %>
        <ul>
            <% movie.actores.forEach(actor => { %>
             <li><%= actor.first_name %> <%= actor.last_name %></li>
            <% }) %>
        </ul>     
    <% }else{ %>
        <p>no hay actores vinculados con esta pelicula</p>
    <% } %>
    <section>
      <a class = "botonAgregar" href = "/movies/edit/<%= movie.id %>">Editar Pelicula</a> 
      <a href="/movies/delete/<%= movie.id %>">Borrar Pelicula</a> <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
    </section>

</body>
</html>